[defaults]
<<<<<<< HEAD
serial = 20
log_path = ansible.log
=======
inventory      = inventory
gather_subset = all
host_key_checking = False
log_path = ansible.log

>>>>>>> d209e35f772467ddfdb54a274333a633982f9f46
