{{serverid}}|{{ansible_hostname}}|{{ansible_default_ipv4.interface}}|{{ansible_default_ipv4.gateway}}|{{ansible_default_ipv4.type}}|{{ansible_dns}}|{{ansible_date_time.date}}|{{ansible_date_time.time}}
