{% set nics = nic_hrdw_info.hardware_info.values() | list %}
{% for i in range(5) %}
{% if nics[i] is defined %}
{# Access index 0 for Name and index 4 for Speed #}
{{serverid}}|{{ansible_hostname}}|{{ansible_date_time.date}}|{{ansible_date_time.time}}|{{nics[i][0]}}|{{nics[i][1]}}|{{nics[i][2]}}|{{nics[i][3]}}|{{nics[i][4]}}|{{nics[i][5]}}|{{nics[i][6]}}|{{nics[i][7]}}|{{nics[i][8]}}|{{nics[i][9]}}|{{nics[i][10]}}|{{nics[i][11]}}|{{nics[i][12]}}|{{nics[i][13]}}|{{nics[i][14]}}|{{nics[i][15]}}|{{nics[i][16]}}|{{nics[i][17]}}|{{nics[i][18]}}|{{nics[i][19]}}|{{nics[i][20]}}|{{ansible_kernel}}
{% endif %}
{% endfor %}
