# Copyright (C) 2024  GEORGE MASTROKOSTAS
# This file is part of SERVER_DATA_COLLECTOR.
#
# SERVER_DATA_COLLECTOR is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# YOUR_PROJECT is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

{% for key, value in ansible_facts.packages.items() if not (key | regex_search('kernel*'))  and  not  (key | regex_search('gpg-pubkey*')) -%}
{{serverid}}|{{ansible_hostname}}|{{ansible_date_time.date}}|{{ansible_date_time.time}}|{{key}}|
{%- for item in value %}
{{ item.version }}|{{item.release}}
{% endfor %}
{% endfor %}
{{serverid}}|{{ansible_hostname}}|{{ansible_date_time.date}}|{{ansible_date_time.time}}|kernel|{{ansible_kernel}}|{{ansible_kernel_version}}
