{{ansible_hostname}}|{{ansible_date_time.date}}|{{ansible_date_time.time}}|{{ansible_distribution}}|{{ansible_distribution_version}}|{{ansible_memtotal_mb}}|{{ansible_processor[2]}}|{{ansible_processor_cores}}|{{ansible_userspace_architecture}}|{{ansible_product_name}}|{{ansible_virtualization_role}}|{{ansible_virtualization_type}}|{{ansible_uptime_seconds}}
