{{serverid}}|{{ansible_hostname}}|{{ansible_date_time.date}}|{{ansible_date_time.time}}|{{ansible_distribution}}|{{ansible_distribution_version}}|{{ansible_selinux.status}}|{{ansible_selinux.mode}}|{{ansible_selinux.type}}|{{ansible_product_name}}|{{ansible_board_name}}|{{ansible_board_vendor}}|{{ansible_chassis_vendor}}|{{ansible_form_factor}}|{{ansible_bios_vendor}}|{{ansible_bios_date}}|{{ansible_bios_version}}|{{ansible_processor[2]}}|{{ansible_processor_count}}|{{ansible_processor_cores}}|{{ansible_processor_vcpus}}|{{ansible_memtotal_mb}}|{{ansible_userspace_architecture}}|{{ansible_kernel}}|{{ansible_python_version}}|{{ansible_virtualization_role}}|{{ansible_virtualization_type}}|{{ansible_uptime_seconds}}
