{% for item in ansible_mounts %}
{{ ansible_hostname }}|{{item.mount}}|{{item.fstype}}|{{item.device}}|{{item.block_available}}|{{item.block_total}}|{{item.block_used}}|{{item.options}}|{{item.uuid}}|{{ansible_cmdline.resume}}|{{ansible_swaptotal_mb}}|{{ansible_swapfree_mb}}|{{ansible_date_time.date}}|{{ansible_date_time.time}}
{% endfor %}
