# Copyright (C) 2024  GEORGE MASTROKOSTAS
# This file is part of SERVER_DATA_COLLECTOR.
#
# SERVER_DATA_COLLECTOR is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# YOUR_PROJECT is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

---
- name: Delete the old server data csv files from conrol node
  file:
    path: "{{server_path}}"
    state: absent
  delegate_to: localhost

- name: Recreate the server data csv files from conrol node
  file:
    path: "{{server_path}}"
    state: directory
    owner: "{{app_admin_account}}"
  delegate_to: localhost
  ignore_errors: yes

- name: Test connectivity on servers 
  wait_for:
    host: "{{ansible_host|default(inventory_hostname)}}"
    port: 22
    state: started
    timeout: 5

- name: gather all subset facts
  setup:
    gather_subset:
       - 'all'

- name: gather network custom info
  interface_info:
  register: interfaceinfo
- name: Set new facts for interfaces
  set_fact:
    ifinfo: "{{interfaceinfo}}"


- name: gather routing table info
  network_routes:
  register: routingtableinfo
- name: Set new facts for routing tables
  set_fact:
    routeinfo: "{{routingtableinfo}}"

- name: gather lvm info
  lvm_info:
  register: lvmsetup
- name: Set new facts for routing tables
  set_fact:
    lvminfo: "{{lvmsetup}}"

#For all RPMs installed
- name: Load rpm ansible facts
  package_facts:
    manager: auto
  register: rpm_packages

- name: gather network hardware info
  interface_hardware_info:
  register: nic_hardware_info
- name: Set new facts for nic hardware
  set_fact:
    nicinfo: "{{nic_hardware_info}}"
    

- name: gather NIC hardware state and info
  nic_state_info:
  register: nic_hrdw_info
- set_fact:
    nichardwareinfo: "{{nic_hrdw_info}}"

#- name: Load NIC numa facts
#  nic_numa_info:
#  register: nicnumainfo
#  when: ('baremetal') in group_names

#- name: Set new facts for NIC Numa setup
#  set_fact:
#    nicnuma: "{{nicnumainfo}}"
#    when: ('baremetal') in group_names
#  when: ('baremetal') in group_names

