# Copyright (C) 2024  GEORGE MASTROKOSTAS
# This file is part of SERVER_DATA_COLLECTOR.
#
# SERVER_DATA_COLLECTOR is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# YOUR_PROJECT is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

##Create a VM inventory
- name: Getting inventory info for VMs.
  block:
  - name: Register as variables what VMs running on HPVs
    community.libvirt.virt:
      command: list_vms
    register: vm_list_results

  - name: template of hypervisors to register VMs.
    template:
      src: "{{j_hypervisors_and_vms}}"
      dest: "{{final_dirs}}/{{c_hypervisors_and_vms}}"

  - name: Fetch the hypervisor inventory templated file
    fetch:
            #src: /var/tmp/hypervisors_and_vms.csv
      src: "{{final_dirs}}/{{c_hypervisors_and_vms}}"
      dest: "{{server_path}}"
  when: ansible_virtualization_role == "host"
